* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSansLight", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --bottom: 120px;
  --top: 280px;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  color: #0d1c2de1;
}

.point {
  color: #3f72af;
}

a {
  text-decoration: inherit;
  color: inherit;
}

@font-face {
  font-family: "gotham-black";
  src: url("/fonts/Gotham-Black.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "gotham-bold";
  src: url("/fonts/GothamBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "gotham-medium";
  src: url("/fonts/GothamMedium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "gotham-light";
  src: url("/fonts/GothamLight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
